{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Contacts{% endblock %}</h1>
  {% if g.user %}
  {% endif %}
{% endblock %}
{% block content %}
  <div class="contact-container unimplemented">
  {% for contact in contacts %}
    <a class="contact view unimplemented" href="{{ url_for('home.view', uid=g.user) }}"> {{ contact['username'] }}</a>
    <a class="contact chat unimplemented" href=""> Chat </a>
    <a class="contact delete unimplemented"> Delete </a>
    {% if not loop.last %}
        <hr>
    {% endif %}
  {% endfor %}
  </div>
{% endblock %}
