<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
</head>
<body>
    <div class="mainContent">
        <h1>登录</h1>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <div class="alert">
            <p>{{ message }}</p>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
        <form method="POST">
            <div class="pB">
                <label for="username">用户名:</label>
                <input placeholder="输入用户名" name="username" id="username" required>
            </div>
            <label for="psw">密码:</label>
            <input type="password" placeholder="输入密码" name="psw" id="psw" required>
            <input type="submit" id="signin" value="Sign In">
        </form>
        <a href="/">返回</a>
    </div>
</body>
</html>